<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} - Isaboo</title>
<link rel="stylesheet" href="{{ '/assets/css/standard.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/navigation.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/body.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
<script src="https://kit.fontawesome.com/ab8ae3d4f7.js" crossorigin="anonymous"></script>
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101318236);</script>
<script async src="//static.getclicky.com/js"></script>
