<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} - Isaboo</title>
<link rel="stylesheet" href="{{ '/assets/css/standard.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/navigation.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/body.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
<link rel="icon" type="icon/ico" href="/assets/images/favicon.ico">
<script src="https://kit.fontawesome.com/ab8ae3d4f7.js" crossorigin="anonymous"></script>

<script src="https://unpkg.com/lunr/lunr.js"></script>