.box {
    background-color: #3f3f3f;
    border-radius: 7px;
    padding: 20px;
    text-align: left;
    display: block;
    margin-top: 45px;
}

.box a {
    text-decoration: underline;
}

.box a:hover {
    text-decoration: none;
}

.box.recents {
    float: left;
    height: 355px;
    margin-top: 20px;
    width: 586px;
    padding-bottom: 0px;
}

.box.plug {
    float: left;
    width: 450px;
    height: 137px;
    margin-top: 20px;
    margin-left: 20px;
}

.box.poll {
    float: left;
    width: 450px;
    height: 142px;
    margin-top: 5px;
    margin-left: 20px;
}

/* clamp (250px,50%,599px) */

.box.about {
    float: right;
    width: 33.1%;
    margin-top: 20px;
    margin-left: 20px;
    height: 335px;
    overflow: hidden;
}

.box.trailer {
    float: right;
    width: 35%;
    height: 200px;
}

#top {
    display: block;
}

#under {
    display: none;
    float: left;
    height: 339px;
    width: 44%;
    margin-top: 20px;
}

.box.welcome {
    float: left;
    width: 58%;
    height: 200px;
}

#right {
    display: block;
}

#bottom {
    display: none;
}

@media only screen and (max-width: 1904px) {
    .box.about {
        width: 32%;
    }
}

@media only screen and (max-width: 1890px) {
    .box.about {
        width: 30%;
    }
}

@media only screen and (max-width: 1828px) {
    .box.about {
        width: 27%;
    }
}

@media only screen and (max-width: 1769px) {
    .box.about {
        width: 25%;
    }
    .box.plug {
        margin-left: 40px;
    }
    .box.poll {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 1740px) {
    .box.about {
        width: 18%;
    }
    .box.plug {
        width: 475px;
        margin-left: 57px;
    }
    .box.poll {
        width: 475px;
        margin-left: 57px;
    }
}

@media only screen and (max-width: 1666px) {
    .box.about {
        width: 97%;
        float: none;
        margin-left: 0;
    }
    .box.plug {
        height: 340px;
        width: 25%;
        margin-left: 5px;
    }
    .box.poll {
        height: 337px;
        float: right;
        width: 25%;
        margin-left: 12px;
    }
    #right {
        display: none;
    }
    #bottom {
        display: inline-block;
    }
}

@media only screen and (max-width: 1590px) {
    .box.plug {
        width: 23%;
        margin-left: 18px;
    }
    .box.poll {
        width: 21%;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 1476px) {
    .box.poll {
        float: right;
        margin-top: 20px;
        width: 20.9%;
    }
    .box.plug {
        float: right;
        margin-right: 0px;
    }
    .box.about {
        float: right;
        width: 43.5%;
    }
    .box.recents {
        width: 48%;
    }
    #bottom {
        display: none;
    }
    #right {
        display: block;
    }
    #top {
        display: none;
    }
    #under {
        display: block;
    }
    .box.welcome {
        width: 99%;
    }
}

@media only screen and (max-width: 1330px) {
    .box.recents {
        width: 54%;
    }
    .box.about {
        width: 37%;
    }
    #under {
        width: 42%;
    }
}

@media only screen and (max-width: 1205px) {
    .box.recents {
        width: 56%;
    }
    .box.about {
        width: 35%;
    }
    #under {
        width: 40%;
    }
}

@media only screen and (max-width: 1170px) {
    .box.recents {
        width: 60%;
    }
    .box.about {
        width: 30%;
    }
    #under {
        width: 38%;
    }
}

.box h2 {
    margin: 0px;
    font-size: 25px;
}

.box .item {
    background-color: rgb(41, 41, 41);
    width: 220px;
    height: 40%;
    margin: 6px;
    float: left;
    border-radius: 5px;
}

.box .item img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.box .recent img {
    height: auto;
}

.box .item.recent {
    height: 83.5%;
    width: 340px;
}

.box .item .name {
    font-size: 18px;
}

.box .item.recent .name {
    font-size: 23px;
}

.box .item.recent .about {
    font-size: 15px;
}

.box .item .about {
    font-size: 11px;
}

.box .item a {
    float: right;
    font-size: 17px;
}

.box .item.recent a {
    float: right;
    font-size: 20px;
    margin-right: 5px;
}

.plug {
    margin: 10px;
    font-size: 40px;
}

.yt-icon {
    width: 50px;
    float: left;
}

.gh-icon {
    width: 70px;
    float: left;
    margin-left: -10px;
    margin-right: -8px;
}

@media only screen and (max-width: 1080px) {
    .box.recents {
        width: 99%;
        margin-bottom: 20px;
    }
    .box.about {
        width: 99%;
        float: none;
        clear: both;
        margin-top: 100px;
        height: 200px;
    }
    #under {
        width: 38%;
    }
    .box.recents {
        height: 250px;
    }
    .box .item.recent {
        width: 250px;
        height: 200px;
    }
    .box .item.recent img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 4px;
    }
    .box .item {
        height: 150px;
    }
    .box.plug {
        margin-top: 40px;
        margin-right: -30px;
        width: 26%;
        height: 200px;
    }
    .box.poll {
        height: 200px;
    }
    #under {
        height: 200px;
    }
    .box.plug .plug {
        font-size: 30px;
    }
    .gh-icon {
        margin-left: -60px;
    }
}

.main {
    padding-left: 50px;
    padding-right: 65px;
    text-align: center;
    margin-top: 50px;
}

@media only screen and (max-width: 952px) {
    .main {
        padding-left: 10px;
        padding-right: 20px;
    }
    #under {
        width: 99%;
        float: none;
        clear: both;
    }
    .box.plug {
        width: 48%;
    }
    .box.poll {
        width: 40%;
        float: left;
    }
}

@media only screen and (max-width: 780px) {
    .box .item {
        clear: both;
    }
    .box.recents {
        height: 610px;
    }
}

@media only screen and (max-width: 650px) {
    .box.poll {
        width: 99%;
        float: none;
        clear: both;
    }
    .box.plug {
        width: 99%;
        float: none;
        clear: both;
        margin-left: 3px;
    }
}

.news {
    border: rgba(77, 77, 243, 0.582) 3px solid;
    background-color: rgba(54, 54, 243, 0.055);
    border-radius: 20px;
    font-size: 18px;
    height: 50px;
    width: 405px;
    margin-top: -80px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding-right: 5px;
}

.news .inner {
    margin-top: 13px;
    margin-right: 5px;
}

.news i {
    color: rgb(77, 77, 243);
    font-size: 40px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

/* Icons */
