.current {
    text-decoration: underline;
}

.navbar{
    background-color: rgba(62, 62, 238, 0.952);
    padding: 20px;
    height: 27px;
    position: fixed;
    top: 0px;
    margin: 0px auto;
}
.expandhidden {
    height: 0%;
    width: 100%;
    padding-top: 0px;
    transition: .8s;
    top: 5px;
}
.expandhidden a {
    margin: 0px;
    font-size: 0px;
}
.expand {
    position: fixed;
    top: 36px;
    background-color: rgba(62, 62, 238, 0.952);
    height: 100%;
    width: 100%;
    padding-top: 50px;
    transition: .8s;
}
.expand a {
    margin: 20px;
    font-size: 40px;
}
.navbar img {
    width: 200px;
    margin-top:-20px;
}
.navbar .menuicon {
    display: none;
    font-size: 30px;
}
@media only screen and (max-width: 727px) {
    .navbar {
       padding: 5px;
       padding-left: 0px;
       
    }
    .navbar img {
       width: 160px;
       margin: 5px;
       margin-top: -8px;
    }
    .navbar .menuicon {
        display: block;
        float: right;
        margin-top: -5px;
        margin-right: 5px;
    }
    .navbar .links {
        display: none;
    }
}
@media only screen and (min-width: 727px) {
    #expand {
        display: none;
    }
}
.navbar .links {
    float: right;
    font-size: 20px;
    margin-right: 23px;
}
.navbar .links a {
    margin: 7px;
}
a {
    color: currentColor;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navbar {
    width: 100%;
}
