<!DOCTYPE html>
<html lang="en">

<head>
    {% include header.html %}
</head>

<body>
    {% include navigation.html %}
    <div class="main">
        <div class="content-wrapper">
            <div class="content">
                <h2>{{ page.title }}</h2>
                <a href="{{ page.link }}">Image source</a><br>
                <img width="100%" src="{{page.src}}"/><br><br>
                Used under {{ page.licence }}<br>
                Attribution: {{ page.by }}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>